<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="D56CC5A7-30CF-494E-B7A3-1F9C94570872" Name="Vos Video Dashboard" Language="1033" Version="2.0.0.0" Manufacturer="Vos Video" UpgradeCode="f7ca05da-8e57-4be3-9feb-967bf8daa956">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>

    <Condition Message='The operating system must be at least Windows 7'>
      VersionNT >= 601
    </Condition>

    <Feature Id="ProductFeature" Title="Vos Video Dashboard Setup" Level="1">
<!--      <ComponentGroupRef Id="PluginFiles"/>
      <ComponentGroupRef Id="BinFiles"/> -->
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcutDesktop"/>
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <!--<CustomAction Id="InstallRtbcService" Directory="INSTALLFOLDER" ExeCommand='"[INSTALLFOLDER]rtbcserver.exe" -install' Execute="immediate" Return="ignore"/>
    <CustomAction Id="UninstallRtbcService" Directory="INSTALLFOLDER" ExeCommand='"[INSTALLFOLDER]rtbcserver.exe" -uninstall' Execute="immediate" Return="ignore"/>
      
    <InstallExecuteSequence>
      <Custom Action="InstallRtbcService" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="UninstallRtbcService" Before="InstallFinalize">Installed</Custom>
    </InstallExecuteSequence>-->

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Vos Video Server">
          <Merge Id="VCRedist" SourceFile="$(env.ProgramFiles)\Common Files\Merge Modules\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0"/>
          <Directory Id="INSTALLPLUGINLIBFOLDER" Name="lib">
            <Directory Id="INSTALLPLUGINBINFOLDER" Name="gstreamer-1.0" />
          </Directory>
          <Directory Id="INSTALLBINFOLDER" Name="bin"/>
        </Directory>
        <Directory Id="DesktopFolder" Name="Desktop"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Component Id="ApplicationShortcutDesktop" Guid="BF83FBF1-7B01-45E7-B09E-610698905AAF" Directory="DesktopFolder">
      <Shortcut Id="ApplicationStartMenuShortcut" Name="Vos Video Dashboard" Description="Vos Video Dashboard" Target="[#Dashboard.exe]" WorkingDirectory="INSTALLFOLDER"/>
      <RegistryValue Root="HKCU" Key="Software\Microsoft\Vos Video Dashboard" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="SetEnviromentVar" Guid="{A170DD5C-8E7F-4E17-AF82-98CEA51F6174}">
        <Environment Id="SET_ENV" Action="set" Name="PATH" Part="last" Permanent="no" System="yes" Value="[INSTALLFOLDER]bin\" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Vos Video Dashboard" Name="envset" Type="integer" Value="1" KeyPath="yes"/>      
      </Component>

      <Component Id="Dashboard.exe" Guid="10EB48D5-70DD-4D6C-9182-EAE1D7F26CE6">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\Dashboard.exe" KeyPath="yes" />
      </Component>
      <Component Id="Dashboard.exe.config" Guid="0C0B2534-EB07-4813-A8AA-C41D80D6A7B7">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\Dashboard.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="ServiceStack.Common.dll" Guid="1891FCC8-9FB3-400C-8295-539C66B71CF7">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\ServiceStack.Common.dll" KeyPath="yes" />
      </Component>
      <Component Id="ServiceStack.dll" Guid="5F315B94-3317-43E1-85D9-E04755110B7B">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\ServiceStack.dll" KeyPath="yes" />
      </Component>
      <Component Id="ServiceStack.ServiceInterface.dll" Guid="8F87EDF6-3D01-4AB1-B115-60AA5D729983">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\ServiceStack.ServiceInterface.dll" KeyPath="yes" />
      </Component>
      <Component Id="ServiceStack.Text.dll" Guid="B6D5E041-C1E0-4924-8BB8-64945BE11C6F">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\ServiceStack.Text.dll" KeyPath="yes" />
      </Component>
      <Component Id="VosVideo.Common.Utils.dll" Guid="ED23DB20-ECAE-4867-A439-ED4607E78364">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\VosVideo.Common.Utils.dll" KeyPath="yes" />
      </Component>
      <Component Id="VosVideo.DTOs.dll" Guid="F2E8F7CF-F54A-4086-AFD9-E1091391C315">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\VosVideo.DTOs.dll" KeyPath="yes" />
      </Component>
      <Component Id="VosVideo.Infrastructure.RestClient.dll" Guid="BA9550CB-186C-4D39-B427-C2B3E83FDC2A">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\VosVideo.Infrastructure.RestClient.dll" KeyPath="yes" />
      </Component>
      <Component Id="Hardcodet.Wpf.TaskbarNotification.dll" Guid="03CBB4AA-6213-480D-98A7-F1D67DB50CDB">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideo.web\VosVideo.Dashboard\Dashboard\bin\Release\Hardcodet.Wpf.TaskbarNotification.dll" KeyPath="yes" />
      </Component>

      <Component Id="rtbcserver.exe" Guid="82872AB2-993D-464B-86BA-4379EB15E1F5">
        <File Id="RtbcServiceEXE" Source="$(env.VOSVIDEO_ROOT)\vosvideoserver\Release\rtbcserver.exe" KeyPath="yes" />
        <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Name="RtbcService"
              Arguments="-service"
              DisplayName="Vos Video media service"
              Description="Vos Video Video Processing Service"
              Start="auto"
              Account="[SERVICEACCOUNT]"
              Password="[SERVICEPASSWORD]"
              ErrorControl="normal">
          <util:PermissionEx User="Everyone" ServicePauseContinue="yes" ServiceQueryStatus="yes" ServiceStart="yes" ServiceStop="yes" ServiceUserDefinedControl="yes" />
        </ServiceInstall>
        <ServiceControl Id="StartService" Stop="both" Remove="uninstall" Name="RtbcService" Wait="yes" />
      </Component>
      <Component Id="rtbcserver.config.xml" Guid="1B8EDE20-9F79-44D1-B710-14D288AC1AAF">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideoserver\Release\rtbcserver.config.xml" KeyPath="yes" />
      </Component>
      <Component Id="deviceworker.exe" Guid="F86BA265-93F8-42EE-B61B-E249B36F5D83">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideoserver\Release\deviceworker.exe" KeyPath="yes" />
      </Component>
      <Component Id="PocoFoundation.dll" Guid="35C7A07F-1779-4EEB-A3BC-E2C940B82AE8">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideoserver\Release\PocoFoundation.dll" KeyPath="yes" />
      </Component>
      <Component Id="opencv_core2410.dll" Guid="F4F3D490-74A7-4A1B-8B5F-380AC5A9EAF2">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideoserver\Release\opencv_core310.dll" KeyPath="yes" />
      </Component>
      <Component Id="opencv_highgui2410.dll" Guid="B7E9E4BE-4B64-4A17-AA60-E69408255EF5">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideoserver\Release\opencv_highgui310.dll" KeyPath="yes" />
      </Component>
      <Component Id="cpprest120_2_4.dll" Guid="19051f46-e688-4f0c-a539-1c2a7b3c8b39">
        <File Source="$(env.VOSVIDEO_ROOT)\vosvideoserver\Release\cpprest140_2_8.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>